 :root{
   --maim-text-color: #FFFFFF;
   --maim-blu-color:#2196F3;
   --maim-white-color:#f6f1f1;
   --maim-light-color:#F5F4FA;
   --maim-darck-color: #757575;
   --maim-black-color:#212121;
   --maim-darck2-color:#2F303A;
 }
    body {
    background: #FFFFFF;
    color: var(--maim-text-color);
    font-family: 'Roboto 500', sans-serif;
    }

    header {
    color: var(--maim-black-color);
    }

    .section-main {
     text-decoration: none
     }

   
     .logo {
     font-style: normal;
     font-weight: 700;
     font-size: 26px;
     color: var(--maim-blu-color);
     text-decoration: none;
     font-family: Raleway;
     line-height: 31px;
    }
    .logo-black {
    color: var(--maim-black-color);
    }
    .logo-white {
      color: var(--maim-white-color);
    }
    ul, li {
      display: block;
      padding: 0;
      margin: 0;
     }

    .list-style {
    list-style: none;
    }
    
    .main-nav {
    color: var(--maim-black-color);
  }
   .current {
   color: var(--maim-blu-color);
   text-decoration: none ;
   margin-left: 32px;
   }
   .current1 {
    color: var(--maim-black-color);
    margin-left: 32px;
    text-decoration: none ;
   }

    .contact-phone , .contact-mail {
     color: var(--maim-darck-color);
     text-decoration: none;
     margin-left: 32px;
    }

    .section-hero {
    color: var(--maim-text-color);
    background-color: var(--maim-darck2-color) ;  
    line-height: 60px ;
    }
    
    .section3 {
      color: var(--maim-darck2-color);
    }

    .button-primary {
     color: var(--maim-text-color);
     background-color: var(--maim-blu-color);
     border-radius: 4px;
     border: none;
     font-family: inherit;
    }
    .button-primary2 {
      color: var(--maim-black-color);
      background-color: var(--maim-white-color);
      border-radius: 4px;
      border: none;
      font-family: inherit;
     }

    .text {
      color: var(--maim-black-color);
      margin-left: 32px;
      line-height: 17;

      letter-spacing: 0.03em; 
    }
    .list-style{
      color: var(--maim-darck2-color);;
       font-size: 14px;
       margin-left: 32px;
       list-style: none ;
     }
     .section-title2 {
     color: var(--maim-black-color);
     font-size: 36px;
       }

 .title-photo {
  color: var(--maim-black-color);

     font-size: 14px;
 }
 .section-title3 {
  color: var(--maim-black-color);
 }

 .title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 94px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
 }
 .title-photo , .title-text {
  margin-top: auto;
  color: var(--maim-darck2-color);
 }
 .page-footer {
  background-color: var(--maim-darck2-color);
  
}
 .address1 {
  color: var(--maim-text-color);
   text-decoration: none;
   margin-left: 32px;
 }

 .address {
  color: var(--maim-darck-color);
   text-decoration: none;
   margin-left: 32px;
 }
 