 :root{
   --maim-text-color: #FFFFFF;
   --maim-blu-color:#2196F3;
   --maim-white-color:#f6f1f1;
   --maim-light-color:#F5F4FA;
   --maim-darck-color: #757575;
   --maim-black-color:#212121;
   --maim-darck2-color:#2F303A;
   --maim-conteiner:padding-top: 94px;
   --maim-text1-color: #FFFFFF99;
 }
html {
box-sizing: border-box;
}

*,
*::before,
*::after{
 box-sizing: inherit;
}
body {
background: #FFFFFF;
color: var(--maim-text-color);
font-family: 'Roboto';

}
.header {
border-bottom: 1px ;

}


.logo {
font-weight: 700;
font-size: 26px;
color: var(--maim-blu-color);
text-decoration: none;
font-family: Raleway;
line-height: 26px;
letter-spacing: 0.03em;
padding-top: 24px;
padding-bottom: 25px;
outline: none;

}
.logo-black {
color: var(--maim-black-color);
}
.logo-white {
color: var(--maim-white-color);
}
ul, li {
display: block;
padding: 0;
margin: 0;
}

.section-main-nav {
  display: flex;
  align-items: center; 
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
border-bottom: 1px ; 
top: 24px;
padding: var(--maim-conteiner);
  padding: 0.15px;
  
}
.main-nav{
display: flex;
top: 32px;
bottom: 32px;
outline: 1px ;
margin-left: 94px;
display: block;

}
.current {
color: var(--maim-blu-color);
text-decoration: none ;
letter-spacing: 0.02em;
font-size: 14px;
line-height: 1.14x;
padding-top: 32px;
padding-bottom: 32px;

}
.current1 {
color: var(--maim-black-color);
margin-left: 50px;
text-decoration: none ;
letter-spacing: 0.02em;
font-size: 14px;
line-height: 1.14x;
padding-top: 32px;
padding-bottom: 32px;
}
.current2 {
  color: var(--maim-blu-color);
  margin-left: 50px;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  
}

.current:hover,.current1:hover,.current2:hover,.contact-phone:hover,.contact-mail:hover, .section-title1:hover,.text-one:hover,.text-two:hover,.section-title2:hover,.section-title3:hover,.title-photo:hover,.title-text:hover,.address1:hover,.address:hover,.button-primary:hover,.contact-mail1:hover,.button-primary1:hover,.button-primary2:hover,.title-photo1:hover,.title-text1:hover,.logo:hover {
text-decoration: underline var(--maim-blu-color);

}
.contact {
display: flex;
margin-left: 0;
top: 32px;
bottom: 32px;
margin-left: auto;
padding: 0.15px;
} 

.contact-phone{
  color: var(--maim-darck-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  height: 16px;
  outline: 1px ;
  margin-left: 50px;

}
.contact-mail,.contact-mail1,.button-primary,.contact-phone{
  padding-top: 32px;
  padding-bottom: 32px;
  
}
.contact-mail1 {
  color: var(--maim-darck-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  height: 16px;
}

.section-hero {
background-color: var(--maim-darck2-color) ; 
padding-top: 200px;
padding-bottom: 200px;
}
.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
.section-title1 {
border: 80px;
padding: var(--maim-conteiner);
font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  width: 696px;
}
.section3 {
color: var(--maim-darck2-color);
padding-top: 94px;
padding-bottom: 94px;
}
.auth-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 18px;
  border-radius: 4px;
  padding: 6px 22px;
}

.button-primary {
color: var(--maim-text-color);
background-color: var(--maim-blu-color);
border-radius: 4px;
border: none;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
padding-top: 10px;
padding-bottom: 10px;

}
.button-primary1 {
  color: var(--maim-text-color);
  background-color: var(--maim-blu-color);
  border-radius: 4px;
  border: none;
  font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    margin-right: 8px;
}
.button-primary2 {
color: var(--maim-black-color);
background-color: var(--maim-white-color);
border-radius: 4px;
border: none;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
margin-right: 8px;
margin-bottom: 50px;

}
.section1{
padding-top: 94px;
padding-bottom: 94px;
}

.list-style{
justify-content: center;
display: flex;
margin-left: -30px ;
flex-basis: calc ((100%-90px) / 4);

}
.style-text{
  margin-left: 30px;
  letter-spacing: 0.03em;
}
.text {
letter-spacing: 0.03em;
list-style: none ;
max-width: 100%;
 
} 

.text-one{
color: var(--maim-black-color); 
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

 }

.text-two {
font-size: 14px;
line-height: 1.71;
color: var(--maim-darck-color);
width: 270px;

}
.section2{
padding-bottom: 94px;
}
.section-title2 {
color: var(--maim-black-color);
font-size: 36px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center; 
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.team-card {
display: flex;
font-size: 14px;
outline: 2px;
}
.team-card>.photo-iteam2:first-child{
  margin-left: 0;
 
}
.photo-iteam2{
outline: 1px ;

}
.conteiner{
padding-bottom: 94px;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
padding: 0 15px;
}
.section-title3 {
color: var(--maim-black-color);
background-color: var(--maim-light-color);
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 50px;
padding-top: 94px ;
padding-bottom:94px ;
}
.title {
margin-top: 0;
margin-bottom: 0;
padding-top: 94px;

font-weight: 700;
font-size: 14px;
text-transform: uppercase;
}
.title-photo {
text-align: center;
color: var(--maim-black-color);
font-weight: 500px;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
margin-bottom: -10px;
}
.tfoto{
padding-top: 30px;
padding-bottom: 30px;
}

.title-photo1 {
  color: var(--maim-darck2-color);
  font-weight: 700px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-bottom: -4px;
 
}

.title-text {
text-align: center;
color: var(--maim-darck-color);
font-weight: 400px;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
margin-top:10px;

}
.title-text1 {
  color: var(--maim-darck2-color);
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-left: 24px;
  margin-top: 4px;
  margin-bottom: 30px;
}

.work-list, .work-list1 {
outline: 1px ;
display: flex;
flex-wrap: wrap;
margin: -15px;

}
.work-list{
padding-bottom: 94px;
}

.portfolio img{
  display: block;
  max-width: 100%;
  height: auto;
  
}
.work-list>.photo-iteam {
margin-right: 30px;
margin-bottom: 30px;
flex-basis: calc ((100%-60px) / 3 ); 
margin: 15px;
}

.work-list>.photo-iteam:nth-last-child(-n +3){
  margin-bottom: 0;
 
}
.work-list1> .photo-iteam1 {
background-color: #FFFFFF;
outline: 1px solid red;
flex-basis: calc(100% / 4 - 30px);
padding-top: 0;
margin-bottom: 94px;

margin-right: auto;
}
.work-list>.photo-iteam2{
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc ((100% - 60px) / 3);
  margin: 15px;
  width: 1200px;
}
.page-footer {
background-color: var(--maim-darck2-color);
padding-top: 60px;
padding-bottom: 60px;

}
.page-address{
  margin-top: 20px;
  font-style: normal;
}
.logo-footer {
  font-weight: 700;
  font-size: 26px;
  color: var(--maim-blu-color);
  text-decoration: none;
  font-family: Raleway;
  line-height: 26px;
  letter-spacing: 0.03em;
 margin-bottom: 20px;
  outline: none;
}
.address1 {
color: var(--maim-text-color);
text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

}

.address {
color: var(--maim-text1-color);
text-decoration: none;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-bottom: 60px;
}
 